.app-container {
    border: 1px solid black;
    padding: 10px;
    display: table-cell;
}

.container {
    display: table;
    margin: 0 auto;
}

.common-text {
    display: inline-block;
    padding: 0 5px;
}

.input-component,
.output-component {
    padding: 10px;
}

.left-side-text {
    min-width: 150px;
}
